.sidebar-container {
    background-color: var(--hf-white);
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    border-right: 1px solid #eee;
}

.sidebar-group {
    margin-bottom: 10px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: var(--hf-text-main);
    border-bottom: 1px solid #f0f0f0;
}

.icon-apiary {
    color: var(--hf-primary-dark);
}

.sidebar-content {
    padding-left: 20px;
    background-color: #fcfcfc;
}

.hive-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 14px;
    color: var(--hf-text-muted);
    cursor: pointer;
}

.hive-item:hover {
    background-color: var(--hf-bg-card);
}

.icon-hive {
    color: #f59e0b;
}